<ul class="timeline" id="timeline">
  <li class="li complete">
    <div class="timestamp">
      <span style="font-size: 10px;">Pick-up location</span>
      <span>{{vessel_telo_loading.location.name}}</span>
    </div>
    <div class="status">
      <h4>{{vessel_telo_loading.created_at | date : medium}}</h4>
    </div>
  </li>
  <li class="li complete">
    <div class="timestamp">
      <span class="tiny"> <strong><i class="fa fa-ship" aria-hidden="true"></i></strong><span class="tiny">Carrier:
        </span><strong>{{carrier.name}}</strong></span>
      <span class="tiny"><i class="fa fa-file-text" aria-hidden="true"></i><span class="tiny">B/L:
        </span><strong>{{bill_of_lading_reference}}</strong></span>
      <span class="tiny"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="tiny">Booking
          reference: </span><strong>{{booking_reference}}</strong></span>
    </div>
    <div class="carrier">
      <h4> &nbsp; </h4>
    </div>
  </li>
  <li class="li complete">
    <div class="timestamp">
      <span style="font-size: 10px;">Drop-off location location</span>
      <span>{{vessel_telo_discharge.location.name}}</span>
    </div>
    <div class="status">
      <h4>{{vessel_telo_discharge.created_at | date : medium}}</h4>
    </div>
  </li>
</ul>
